<ion-content [fullscreen]="true">
  <div class="paddiv">
    <ion-card class="loginsignupcard">
      <div style="text-align:center;height:50px; margin-bottom: 25px; margin-top: 25px;">
        <img _ngcontent-emv-c133="" class="cursor" style="height:50px" src="/assets/logos/plus-logo.png">
        <br>
      </div>
      <h3>Login</h3>
      <ion-card-content>
        <form *ngIf="loginMethod === 'email'">
          <ion-list class="ion-no-margin" lines="full">
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" name="email" [placeholder]="'Please Enter Email'" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-button color="primary" style="margin-bottom: 10px" expand="block" size="medium" (click)="submitForm()">
              {{ loginMethod === 'email' ? 'Login' : 'Login with OTP' }}
              <ion-spinner name="lines-small" *ngIf="loading"></ion-spinner>
            </ion-button>
            
          </ion-list>
        </form>

        <form *ngIf="loginMethod === 'otp'">
          <ion-list class="ion-no-margin" lines="full">
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" name="email" [value]="email" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">OTP</ion-label>
              <ion-input type="text" name="otp" [placeholder]="'Please Enter OTP'"></ion-input>
            </ion-item>
            <ion-button color="primary" style="margin-bottom: 10px" expand="block" size="medium" type="submit">
              Login with OTP
              <ion-spinner name="lines-small" *ngIf="loading"></ion-spinner>
            </ion-button>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
